<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>

    </header>
    
    <main>
        <div class="home_fondo">
            <img src="fondo.jpg" alt="">
        </div>
        <div class="container_planet">
            <div class="title-container">
                <h1>Planet Name: OGL-2023-1524L b</h1>
            </div>
            <div class="content-container">
                <div class="item-container">
                    <h3>Type of Starasdasdasda</h3>
                    <div class="context">
                            <ul>
                                <li><b>Activity:</b> Medium</li>
                                <li><b>Age:Young</b> (100 million years old)</li>
                                <li><b>Size:</b> Small</li>
                            </ul>
                    </div>
                </div>

                <div class="item-container">
                    <h3>Type of Star</h3>
                    <div class="context">
                            <ul>
                                <li><b>Activity:</b> Medium</li>
                                <li><b>Age:Young</b> (100 million years old)</li>
                                <li><b>Size:</b> Small</li>
                            </ul>
                    </div>
                </div>

                <div class="item-container">
                    <h3>Type of Star</h3>
                    <div class="context">
                            <ul>
                                <li><b>Activity:</b> Medium</li>
                                <li><b>Age:Young</b> (100 million years old)</li>
                                <li><b>Size:</b> Small</li>
                            </ul>
                    </div>
                </div>

                <div class="item-container">
                    <h3>Type of Star</h3>
                    <div class="context">
                            <ul>
                                <li><b>Activity:</b> Medium</li>
                                <li><b>Age:Young</b> (100 million years old)</li>
                                <li><b>Size:</b> Small</li>
                            </ul>
                    </div>
                </div>

                <div class="item-container">
                    <h3>Type of Star</h3>
                    <div class="context">
                            <ul>
                                <li><b>Activity:</b> Medium</li>
                                <li><b>Age:Young</b> (100 million years old)</li>
                                <li><b>Size:</b> Small</li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div class="end-main">
        <button class="btn_home">Go Home</button>
    </div>


</body>
</html>