header {
    background-color: black;
    text-align: center;
    color: white;
    padding: 1cm 0;
    margin: 0;
}

#logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 200px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1cm 0;
    margin: 0;
}

#footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
}

.buttons {
    margin-bottom: 20px;
}
