body{
    margin: 0;
    padding: 0;
    height: 100vh;
}
header{
    height: 80px;
    width: 100%;
    background-color: #fff;
}

.home_fondo{
    height: 90vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.home_fondo img{
    width: 100%;
    position:absolute;
    top: -300px;
}

.container_planet{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    flex-direction: column;
}

.container_planet  .title-container{
    background-color: #CDDA7E;
    padding: 10px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
}
.content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20rem; /* Puedes ajustar el valor según el espacio que desees entre las filas y las columnas */
}

.content-container .item-container .context ul{
    display: flex;
    flex-direction: column;
    list-style: none;

}

.content-container .item-container .context ul li{
    margin-bottom: 1rem;

}
.item-container h3 {
    background-color: #CDDA7E;
    padding: 10px 30px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    text-align: center;
    border-radius: 10px;
}

.end-main{
    margin-top: 4rem;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
}

.end-main .btn_home{
    border: none;
    display: flex;
    text-align:center;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    background-color: #D83933;
    border-radius: 5px;
    cursor: pointer;
}
.btn_home:hover{
    transform: scale(1.1);
    transition: 1s all;
}

