{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Exoplanet</title>
    <link href="{% static 'css/exoplanet.css' %}" rel="stylesheet">
</head>
<body>
    <header>

    </header>
    
    <main>
        <div class="home_fondo">
            <img src="{{exoplanet.photo.url}}" alt="">
        </div>
        <div class="container_planet">
            <div class="title-container">
                <h1>Planet Name: {{exoplanet.name_planet}}</h1>
            </div>
            <div class="content-container">
                <div class="item-container">
                    <h3>Type of Star</h3>
                    <div class="context">
                            <ul>
                                <li><b>Activity:</b> {{exoplanet.activity}}</li>
                                <li><b>Age:</b>{{exoplanet.age}}  (100 million years old)</li>
                                <li><b>Size:</b> Sm{{exoplanet.name_planet}}all</li>
                            </ul>
                    </div>
                </div>

                <div class="item-container">
                    <h3>Water Availability</h3>
                    <div class="context">
                            <ul>
                                <li><b>Ice sheet extend:</b> {{exoplanet.ice_sheet_extend}}</li>
                                <li><b>Oceans</b> {{exoplanet.oceans}}</li>
                                <li><b>Oceans extend:</b> {{exoplanet.ocean_extend}}</li>
                                <li><b>Tiles:</b> {{exoplanet.tides}}</li>
                            </ul>
                    </div>
                </div>

                <div class="item-container">
                    <h3>Type of Planet</h3>
                    <div class="context">
                            <ul>
                                <li><b>Orbit:</b> {{exoplanet.orbit}}</li>
                                <li><b>Magnetic fields</b> {{exoplanet.magneticFields}} </li>
                                <li><b>Size:</b> {{exoplanet.planetSize}}</li>
                                <li><b>Composition:</b> {{exoplanet.composition}}</li>
                            </ul>
                    </div>
                </div>

                <div class="item-container">
                    <h3>Surface</h3>
                    <div class="context">
                            <ul>
                                <li><b>Carbon cycle:</b> {{exoplanet.carbonCycle}}</li>
                                <li><b>Plate tectonics</b> {{exoplanet.plateTectonics}} </li>
                                <li><b>Volcanism:</b> {{exoplanet.volcanims}} (Presence of fumaroles in the ocean)</li>
                            </ul>
                    </div>
                </div>

                <div class="item-container">
                    <h3>Atmosphere</h3>
                    <div class="context">
                            <ul>
                                <li><b>Warm:</b> {{exoplanet.warm}} {{exoplanet.unitMeasurement}}</li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div class="end-main">
        <button class="btn_home">Go Home</button>
    </div>
</body>
</html>