{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Life Far Away</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
    <header>

    </header>
    <main>
        <div class="planet">
            <img src="/static/img/planeta.png" alt="">
            <h2 class="title">TEEGARDEN B</h2>
        </div>
        <div class="description">
            <div class="title-description"><h2>FURTHER INFO</h2></div>

            <div class="part-description">
                <div class="characteristic">
                    <h1 class="tittle-info">PLANET TYPE</h1>
                    <button class="info_characteristic">Super Earth</button>
                </div>

                <div class="characteristic">
                    <h1 class="tittle-info">MASS</h1>
                    <button class="info_characteristic">1.05 Earths</button>
                </div>

                <div class="characteristic">
                    <h1 class="tittle-info">ORBITAL RADIUS</h1>
                    <button class="info_characteristic">0.0252 AU</button>
                </div>

                <div class="characteristic">
                    <h1 class="tittle-info">ECCENTRICITY</h1>
                    <button class="info_characteristic">0.0</button>
                </div>

                <div class="characteristic">
                    <h1 class="tittle-info">DISCOVERY DATE</h1>
                    <button class="info_characteristic">2019</button>
                </div>

                <div class="characteristic">
                    <h1 class="tittle-info">PLANET RADIUS</h1>
                    <button class="info_characteristic">1.02 x Earth (Estimate)</button>
                </div>

                <div class="characteristic">
                    <h1 class="tittle-info">ORBITAL PERIOD</h1>
                    <button class="info_characteristic">4.9 days</button>
                </div>

                <div class="characteristic">
                    <h1 class="tittle-info">DETECTION METHOD</h1>
                    <button class="info_characteristic">Radial Velocity</button>
                </div>
            </div>
        </div>
    </main>
    <div class="end-main">
        <button class="btn_home">Go Home</button>
    </div>
</body>
</html>